
.theme-options-container {
    background-color: #333;
    margin-left: auto;
}


.theme-options {
    max-width: 800px;
    text-align: right;
    padding: 20px 0;
    div {
        cursor: pointer;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        margin: 2px 10px;
        border: 1px solid #fff;
        display: inline-block;
        opacity: 0.5;
        &.active {
            opacity: 1;
        }
    }
    #theme-white {
        background-color: #eee;
    }
    #theme-blue {
        background-color: #1e41c1;
    }
    #theme-orange {
        background-color: #b64b1e;
    }
    #theme-purple {
        background-color: #7852ae;
    }
    #theme-green {
        background-color: #5faf3b;
    }
    #theme-black {
        background-color: #000;
    }
}

.App.theme-blue {
    background-color: #d8def4;
    .column {
        background-color: #bec7e7;
    }
    .droppable.with-scrollbar {
        background-color: #bec7e7;
    }
}

.App.theme-orange {
    background-color: #f4d7d6;
    .column {
        background-color: #f4c9b7;
    }
    .droppable.with-scrollbar {
        background-color: #f4c9b7;
    }
}

.App.theme-purple {
    background-color: #ecdfff;
    .column {
        background-color:#d0b7f4;
    }
    .droppable.with-scrollbar {
        background-color: #d0b7f4;
    }
}

.App.theme-green {
    background-color:  #e2f6e1;
    .column {
        background-color:#c3e3c1;
    }
    .droppable.with-scrollbar {
        background-color: #c3e3c1;
    }
}

.App.theme-black {
    background-color: #5c5c5c;
    .column {
        background-color:#333;
    }
    .droppable.with-scrollbar {
        background-color: #333;
    }
    .column h2{
        color: white;
    }
}